.header {
	background: $primary_violet url(../img/towns_shadow.svg) no-repeat center bottom;
	background-size: 100% auto;

	.logo {
		position: absolute;
		height: auto;
		width: 70%;
		display: block;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

