.header {
	background: $primary_violet url(../img/towns_shadow.svg) no-repeat center bottom;
	background-size: 100% auto;
	background-attachment: fixed;

	@include isMobile {
		background-attachment: scroll;
	}

	&__logo {
		display: block;
	}	

	&__title {
		text-align: center;
		color: $white;
		font-weight: $normal;
		font-style: italic;
		font-size: 1.8em;
		margin-top: 20px;
		position: relative;
	}

	#counter {
		margin-top: 20px;
		/* color: $white;
		font-size: 2em;
		text-align: center;
		padding: 20px;
		border: 1px solid $white; */
	}
}

.nav {
	background: $primary_violet;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0px 40px;

	@include isMaxTablet {
		-webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.3);
		box-shadow: 0 2px 10px -2px rgba(0,0,0,0.3);
		@include transition(all 0.2s ease-in-out);
		width: auto;
		padding: 40px 20px 20px;
		left: auto;
		right: 0;
		@include transform(translateX(100%));
	}

	&.opened {
		@include transform(translateX(0%));
	}

	ul {
		list-style: none;
		float: right;
	}

	li {
		display: inline-block;
		padding: 5px 10px;

		@include isMaxTablet {
			display: block;
		}

		a {
			font-size: 1.8em;
			color: $white;
		}
	}
}

#open-mobile-nav {
	padding: 20px;
	position: fixed;
	top: 10px;
	right: 10px;
	background: $primary_violet;
	border: 0;
	img {
		width: 40px;
		height: auto;
	}

	@include isDesktop {
		display: none;
	}
}

#close-mobile-nav {
	padding: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	background: none;
	border: 0;
	img {
		width: 20px;
		height: auto;
	}

	@include isDesktop {
		display: none;
	}
}

