#mentors_section {
	background: $primary_red;
}

#about_section {
	.founders {
		img {
			max-width: 80%;
			display: block;
			margin: 0 auto;
		}

		.column {
			padding: 10px;
		}

		i {
			display: block;
			text-align: center;
			font-size: 1.5em;
			margin-top: 10px;
		}
	}
}